header {
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: rgb(255, 0, 144);
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: flex;
}

header ul li {
    margin: 0px;
    padding:0px;
    color: black;
    font-size: 100%;
    width: 90%;
}

ul button {
    background-color: #f8f9fa5f;
    border: 1px solid black;
    color: black;
    border-radius: 15px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    padding: 0px;
}

ul:hover{
    text-decoration: underline;
}

ul a{
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: none;
}

img {
    width: 175px;
}

h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: 30px;
    margin: 10px 3% 10px 3%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(255, 162, 224);
    border-radius: 20px;
}

#mapa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    align-items: center;
    background-color: rgb(255, 162, 224);
    padding: 30px;
    margin: 0px;
    border-radius: 20px;
}

section{
    margin: 3%;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    height: 100%;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    align-items: center;

}

#precios {
    width: 60%;
    height: 50%;
    margin: 0px;
    border-radius: 30px;
}

#dinero{
    display: flex;
    justify-content: center;
}

#logo{
  border-radius: 60% ;
}

.contenedor img {
    border-radius: 40%;
    border-color: black;
    display: flex;
    width: 20%;
}

.contenedor p {
    font-size: 17px;
    align-items: flex-start;
    font-display: flex;
    display: flex;
}

footer {
    margin: 20px;
    background-color: rgb(255, 0, 144);
    width: auto;
    border-radius: 20px;
}

footer img {
    display: flex;
    width: 30px;
    align-items: flex-start;
}

footer p {
    font-family: "Galada", cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap')